*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  outline: none;
  border: none;
}
html {
  font-size: 62.5%;
}
:root {
  --BG-COLOR1: rgba(35, 43, 50, 0.58);
  --BG-COLOR2: #152028;
  --BG-COLOR3: crimson;
  --BG-COLOR4: #232b32;
  --BG-COLOR5: rgba(49, 48, 48, 0.412);
}
ul {
  list-style: none;
}

@mixin flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;

  background-color: var(--BG-COLOR2);
  background-size: 16px 16px;

  color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  h1 {
    font-size: 5rem;

    margin-block: 2.5em 1em;
    text-align: center;
  }

  .container {
    @include flexBox();

    flex-wrap: wrap;

    gap: 2em;

    text-align: center;

    li {
      margin-inline: 1em;

      .box {
        background-image: linear-gradient(
          to bottom,
          rgba(0, 128, 128, 0.678),
          rgba(0, 14, 14, 0.419)
        );

        border: 2px solid rgb(0, 20, 27);

        box-shadow: 1px 1px 2px black, 2px 4px 2px black, 2px 2px 3px black;

        margin-bottom: 1em;
        padding-inline: 1em;

        @include flexBox();

        position: relative;

        border-radius: 3px;
        width: 15em;

        .corner1,
        .corner2 {
          position: absolute;

          top: 50%;
          transform: translateY(-50%);

          width: 0.5em;
          height: 1em;

          background: linear-gradient(#111, #333, #fff, #333, #111);
        }
        .corner1 {
          left: -0.2em;
        }
        .corner2 {
          right: -0.2em;
        }

        &::before {
          position: absolute;
          content: "";

          width: 100%;
          height: 0.15em;

          top: 50%;
          left: 0;

          background-color: #111;
        }

        h4 {
          font-size: 8rem;
        }
      }
      span {
        font-size: 2rem;
      }
    }
  }
}
